In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('hearing_test.csv')
df.head()

    age  physical_score  test_result
0  33.0            40.7            1
1  50.0            37.2            1
2  52.0            24.7            0
3  56.0            31.0            0
4  35.0            42.9            1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             5000 non-null   float64
 1   physical_score  5000 non-null   float64
 2   test_result     5000 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 117.3 KB

In [4]:
df.describe()

               age  physical_score  test_result
count  5000.000000     5000.000000  5000.000000
mean     51.609000       32.760260     0.600000
std      11.287001        8.169802     0.489947
min      18.000000       -0.000000     0.000000
25%      43.000000       26.700000     0.000000
50%      51.000000       35.300000     1.000000
75%      60.000000       38.900000     1.000000
max      90.000000       50.000000     1.000000

In [5]:
df.cov()

                       age  physical_score  test_result
age             127.396398      -72.123723    -3.777956
physical_score  -72.123723       66.745660     3.173059
test_result      -3.777956        3.173059     0.240048

In [6]:
df.corr()

                     age  physical_score  test_result
age             1.000000       -0.782146    -0.683171
physical_score -0.782146        1.000000     0.792716
test_result    -0.683171        0.792716     1.000000

In [7]:
x = df[['age', 'physical_score']]
y = df['test_result']

In [14]:
from math import comb
split_ratio = 0.8
combinations = comb(len(x), int(split_ratio*len(x)))
max_combinations = combinations
combinations

57462357505803375604893834658665168251899919793850512934468881710397678593302188064618445132583370701755893065787216750992391223467601994741594656878559929037277303674963658032197224327768110236651567704673226756781828332650887849150208195780031161286578505113618731045004523840401144118298192191997565735245181433457469532981432785237769191864102953974244072964471109551273603780184330987071947790993108191904370472373403157802158903129815170101708451875442019845175637901995588390614304812103202403626211504997668649346891167495657556154392183988627948442807346603688457854135114491955258804187129028256547543888109987151649038111791932035229202856007767332717845596528598314477979861265222941138323298702349967224867703420888363395662988291273283611081068577160905840445308086112429900453394212790633910614322699210850302387512579976209123523546689147207974269396548873838155355768985614160932799226261509866933143702889005270480654844312094564956178277998090168826124850606847021667494019587077659107276117413835912767949017954979839258481340540145909025953956582025656306426226560

In [15]:
combiations_considered = 10000
while combinations > combiations_considered:
    combinations //= 2
combinations

5763

In [16]:
step = max_combinations // combinations
step

9970910551067738262171409796749118211330890125603073561420940779177108900451533587475003493420678587845895031370330860835049665706680894454553992170494521783320719013528311301786781941309753641619220493609791212351523222740046477381608224150621405741207444926881612188964866187819042880148914140551373544203571305475875331074341972104419432910654685749478409329250582951808711396873907858246043343916902341125172735098629734131903332141213807062590395952705538755019197970153667949091498318949020024922125890160969746546397912110993849757833104978071828638349357383947329143525093613040995801524749093919234347369097689944759506873467279548018254876975146162192928265925489903605410352466635943282721377529472491276222055079106084226212560869559827105861715873184262682707844540363079975785770295469483586780205222837211574247355991666876474670058422548535133484191662133235841637301576542453745063200808868621713195159272775511101970300939110630740270393544697235610988174667160683961043557103431833959270539200735018699973801484466395845650067766813449423209084952633291047445120

In [17]:
from sklearn.linear_model import LogisticRegressionCV
model = LogisticRegressionCV()

In [19]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [20]:
from sklearn.model_selection import train_test_split

combinations_list = list()

for combination in range(0, max_combinations, step):
    x_train, x_test, y_train, y_test = train_test_split(x, y)
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    
    tup = (combination, accuracy, precision, recall, f1)
    combinations_list.append(tup)

In [22]:
combinations_list.sort(key=lambda tup:tup[1], reverse=True)
best_combination, best_accuracy, precision, re, f1 = combinations_list[0]
print(f'b_c, b_a : {best_combination, best_accuracy}')

b_c, b_a : (3130865913035269814321822676179223118357899499439365098286175404661612194741781546467151096934093076583611039850283890302205595031897800858729953541535279839962705770247889748761049529571262643468435234993474440678378291940374593897824982383295121402739137707040826227334967982975179464366759040133131292879921389919424853957343379240787701933945571325336220529384683046867935378618407067489257609989907335113304238820969736517417646292341135417653384329149539169076028162628251736014730472149992287825547529510544500415568944402852068823959594963114554192441698218559461351066879394494872681678771215490639585073896674642654485158268725778077732031370195894928579475500603829732098850674523686190774512544254362260733725294839310447030744113041785711240578784179858482370263185674007112396731872777417846248984439970884434313669781383399213046398344680240031914036181909836054274112695034330475949845053984747217943280011651510486018674494880738052444903573034931981850286845488454763767676930477595863210949309030795871791773666122448295534121278779423118887652675126853388897767680, 0.944)

In [25]:
combinations_list.sort(key=lambda tup:tup[2], reverse=True)
best_combination, accuracy, best_precision, re, f1 = combinations_list[0]
print(f'b_c, b_a, b_p : {best_combination, accuracy, best_precision}')

b_c, b_a, b_p : (14547558494007830124508086893456963470331768693254884326113152596819401885758787504126030096900770059667160850769312725958337462266047425009194274576751507281864929040737806189306914852370930563122442700176685378820872381977727810499766399035756630976421662148320272183699739768027983562137265731064454000993010534689302108037464937300347952616645186508488999211376600526688909928039031565180977238774760515701627020508900782098446961594030944504319387694997381043573009838454201537724496047346620216361381673744854860211194553769940026796678500163006797983351712423179153220403111581426812874424608928028162912811513529629404120528388760860558633865506738250639482339985289769360293704248821841249490489815500364772007978360415776886044126308687787747452243458975839254070745184389733684671438861089976553112319420119491686826892391841972776543615238498312759753435635052391092948823000175440014047209980139319079551737378979470697774669070162410250054504181713266756431746839387437899162549813907045746575716693872392283261776365836471538803448871780822708462054945891971638222430080, 0.928, 0.946949602122016)

In [26]:
combinations_list.sort(key=lambda tup:tup[3], reverse=True)
best_combination, accuracy, precision, best_recall, f1 = combinations_list[0]
print(f'b_c, b_a, b_p : {best_combination, accuracy, precision, best_recall}')

b_c, b_a, b_p : (16800984278549138971758825507522264186092549861641178950994285212913428497260834094895380886413843420520333127859007500507058686715757307155923476807283269204895411537795204543510727571106934886128386531732498192812316630316978314388009857693797068673934544701795516538405799526475087253050920326829064421983017649726849932860266222995946744454453145487871119719787232273797678703732534741144583034499980444795916058641191102012257114657945264900464817180308832802207348579708930494219174667429098741993782124921234022930680481907024636841948781888051031255618667191951249606839782737974077925569202223253909875316929607556919769081792366038410759467703121283295084128084450487575116443906281564431385521137161147800434162808293751921168165065208308673376991246315482620362718050511789759199022947866079843724645800480701502606794845958686859819048441994281699920862950694502393158853156474034560431493362943627586733843374626736206819957082401412797355613122814842004515074314165752474358393719282640221370858553238506509455855501325876999920364187080662278107308145187095414945027200, 0.9216, 0.9040097205346294, 0.9750982961992136)

In [27]:
combinations_list.sort(key=lambda tup:tup[4], reverse=True)
best_combination, accuracy, precision, recall, best_f1 = combinations_list[0]
print(f'b_c, b_a, b_p : {best_combination, accuracy, precision, recall, best_f1}')

b_c, b_a, b_p : (3130865913035269814321822676179223118357899499439365098286175404661612194741781546467151096934093076583611039850283890302205595031897800858729953541535279839962705770247889748761049529571262643468435234993474440678378291940374593897824982383295121402739137707040826227334967982975179464366759040133131292879921389919424853957343379240787701933945571325336220529384683046867935378618407067489257609989907335113304238820969736517417646292341135417653384329149539169076028162628251736014730472149992287825547529510544500415568944402852068823959594963114554192441698218559461351066879394494872681678771215490639585073896674642654485158268725778077732031370195894928579475500603829732098850674523686190774512544254362260733725294839310447030744113041785711240578784179858482370263185674007112396731872777417846248984439970884434313669781383399213046398344680240031914036181909836054274112695034330475949845053984747217943280011651510486018674494880738052444903573034931981850286845488454763767676930477595863210949309030795871791773666122448295534121278779423118887652675126853388897767680, 0.944, 0.9378238341968912, 0.9705093833780161, 0.9538866930171277)