# Classification: Ensemble Learning

## Problem statement

-

In [1]:
import numpy as np
import pandas as pd
import xgboost as xgb

In [2]:
df = pd.read_csv('heart.csv')
df.head()

,age,sex,chest_pain,rest_bp,chol,fbs,rest_ecg,max_hr,exang,old_peak,slope,ca,thal,disease
0,63,Male,typical,145,233,1,left ventricular hypertrophy,150,0,2.3,3,0.0,fixed,0
1,67,Male,asymptomatic,160,286,0,left ventricular hypertrophy,108,1,1.5,2,3.0,normal,1
2,67,Male,asymptomatic,120,229,0,left ventricular hypertrophy,129,1,2.6,2,2.0,reversable,1
3,37,Male,nonanginal,130,250,0,normal,187,0,3.5,3,0.0,normal,0
4,41,Female,nontypical,130,204,0,left ventricular hypertrophy,172,0,1.4,1,0.0,normal,0

In [3]:
df.isna().sum()

age           0
sex           0
chest_pain    0
rest_bp       0
chol          0
fbs           0
rest_ecg      0
max_hr        0
exang         0
old_peak      0
slope         0
ca            4
thal          2
disease       0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         303 non-null    int64
 1   sex         303 non-null    object
 2   chest_pain  303 non-null    object
 3   rest_bp     303 non-null    int64
 4   chol        303 non-null    int64
 5   fbs         303 non-null    int64
 6   rest_ecg    303 non-null    object
 7   max_hr      303 non-null    int64
 8   exang       303 non-null    int64
 9   old_peak    303 non-null    float64
 10  slope       303 non-null    int64
 11  ca          299 non-null    float64
 12  thal        301 non-null    object
 13  disease     303 non-null    int64
dtypes: float64(2), int64(8), object(4)
memory usage: 33.3+ KB

In [5]:
ca_mode = df['ca'].mode()[0]
ca_mode

0.0

In [6]:
thal_mode = df['thal'].mode()[0]
thal_mode

'normal'

In [7]:
df['ca'].fillna(ca_mode, inplace=True)

In [8]:
df.isna().sum()

age           0
sex           0
chest_pain    0
rest_bp       0
chol          0
fbs           0
rest_ecg      0
max_hr        0
exang         0
old_peak      0
slope         0
ca            0
thal          2
disease       0
dtype: int64

In [9]:
df['thal'].fillna(thal_mode, inplace=True)

In [10]:
df.isna().sum()

age           0
sex           0
chest_pain    0
rest_bp       0
chol          0
fbs           0
rest_ecg      0
max_hr        0
exang         0
old_peak      0
slope         0
ca            0
thal          0
disease       0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['sex'] = encoder.fit_transform(df['sex'])

In [ ]:
# decide the independent variables
x = df.

# decide the dependent variable
y = df['test_result']

In [11]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(
    x, y, random_state=1233456, train_size=0.8)

NameError: name 'x' is not defined